<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>考试后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="https://heerey525.github.io/layui-v2.4.3/layui/css/layui.css">
    <script type="text/javascript" src="https://heerey525.github.io/layui-v2.4.3/layui/layui.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <!-- 引入 ECharts 文件 -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
</head>

<body class="layui-layout-body">

<!--将值赋给hidden域-->
<input type="hidden" th:value="${subjects}" id="subjects"/>
<input type="hidden" th:value="${stages}" id="stages"/>
<input type="hidden" th:value="${averageScoreList}" id="averageScoreList"/>

<!--Js 获取hidden的隐藏域-->
<script type="text/javascript">

    var $subjects=$("#subjects").val();
    $subjects=$subjects.replace("[","");
    $subjects=$subjects.replace("]","");

    var $stages=$("#stages").val();
    $stages=$stages.replace("[","");
    $stages=$stages.replace("]","");
    //定义一数组
    var subjectorstages= new Array();
    if($subjects!=null){
        subjectorstages=$subjects.split(",");
    }
    if($stages!=null){
        subjectorstages=$stages.split(",");
    }

    var $averageScoreList=$("#averageScoreList").val();
    $averageScoreList=$averageScoreList.replace("[","");
    $averageScoreList=$averageScoreList.replace("]","");
    //定义一数组
    var averageScoreList= new Array();
    averageScoreList=$averageScoreList.split(",");

</script>


<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">考试后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">系统管理</a></li>
            <li class="layui-nav-item"><a href="">试题管理</a></li>
            <li class="layui-nav-item"><a href="">考试管理</a></li>
            <li class="layui-nav-item"><a href="">成绩管理</a></li>
            <li class="layui-nav-item"><a href="statisticalStage" >统计管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">选择阶段</a>
                    <dl class="layui-nav-child" th:each="stage:${stageList}">
                        <dd><a th:href="@{'statisticalStage?'+stage+'='+${stage}}" th:text="${stage}"></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">选择学科</a>
                    <dl class="layui-nav-child" th:each="subject:${subjectList}">
                        <dd><a th:href="@{'statisticalSubject?'+subject+'='+${subject}}" th:text="${subject}"></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

            <center><h1 th:text="${stage}"></h1></center>
            <center><h1 th:text="${subject}"></h1></center>
            <center>
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="main" style="width: 600px;height:400px;"></div>
            </center>

            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                // 指定图表的配置项和数据
                var option = {
                    color: ['#3398DB'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: { // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [{
                        type: 'category',
                        data: subjectorstages,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }],
                    yAxis: [{
                        type: 'value'
                    }],
                    series: [{
                        name: '平均成绩',
                        type: 'bar',
                        barWidth: '20%',
                        data: averageScoreList,
                    }]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>


<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;
    });
</script>

</body>

</html>