<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.AdminDao">

        
    <resultMap id="menuMap" type="com.qfedu.examsys.pojo.EAdmin">

    </resultMap>
    
    
    
    

    <select id="findByAdminName" resultType="com.qfedu.examsys.pojo.EAdmin">
        select * from e_admin where aname = #{name}
    </select>
    
    
    


</mapper>