<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.examsys.dao.ESessionMangeDao">
    <select id="findAllSessionMange" resultType="com.qfedu.examsys.vo.ESmVo">
        select sm.smid,et.tpTitle,sm.smBeginTime,sm.smEndTime,es.subjectName
         from e_sessionmange sm
         inner join e_testpaper et
         on sm.tpId = et.tpId
         inner join e_subject es
         on et.subjectId = es.subjectId
        <where>
            <if test="tpTitle != null and tpTitle != ''">
                and et.tpTitle like CONCAT('%','${tpTitle}','%')
            </if>
            <if test="smBeginTime != null">
                and DATE_FORMAT(smBeginTime,'%Y-%m-%d') >= DATE_FORMAT(#{smBeginTime},'%Y-%m-%d')
            </if>
            <if test="subjectName != null and subjectName != ''">
                and es.subjectName=#{subjectName}
            </if>
        </where>
        order by smEndTime desc
    </select>

    <select id="findSessionmangeById" parameterType="integer" resultType="com.qfedu.examsys.vo.ESmVo">
        select * from e_sessionmange where smid=#{smid}
    </select>

    <delete id="deleteSessionMange" parameterType="int">
    delete from e_sessionmange where smid in
    <foreach collection="array" item="smid" open="(" close= ")" separator=",">
        #{smid}
    </foreach>
</delete>

    <delete id="deleteSessionMangeById" parameterType="integer">
        delete from e_sessionmange where smid=#{smid}
    </delete>

    <update id="modifySessionMange" parameterType="com.qfedu.examsys.vo.ESmVo">
        update e_sessionmange
        <set>
            <if test="tpId != null and tpId != ''">
                tpId = #{tpId},
            </if>
            <if test="smBeginTime != null and smBeginTime != ''">
                smBeginTime = #{smBeginTime}
            </if>
            <if test="smEndTime != null and smEndTime != ''">
                smEndTime = #{smEndTime}
            </if>
        </set>
        where smid=#{smid}
    </update>

    <insert id="addSessionMange" parameterType="com.qfedu.examsys.vo.ESmVo">
        inner into e_sessionmange(tpId,smBeginTime,smEndTime) values(#{tpId},#{smBeginTime},#{smEndTime})
    </insert>
</mapper>