<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.SinglequestionsDao">



    <select id="findAllSingleQuestions" resultType="com.qfedu.examsys.pojo.ESinglequestions">
        select * from e_singlequestions
    </select>


    <insert id="addSingleQuestions">
        insert into e_singlequestions(stitle,soptiona,soptionb,soptionc,soptiond,sanswer)
         values(#{stitle},#{soptiona},#{soptionb},#{soptionc},#{soptiond},#{sanswer})
    </insert>

    <delete id="delSingleQuestions">
        DELETE from e_singlequestions where sqId=#{sqId}
    </delete>




</mapper>