<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
dao层接口的全限定名和namespace一样
dao层接口中的方法名和映射文件中增删改查配置的statement id一致
方法的参数和配置的输入参数保持一致
方法的返回值类型和配置中返回类型保持一致
 -->
<mapper namespace="com.qfedu.examsys.dao.StatisticalDao">

    <select id="findAllStage" resultType="String">
        select distinct stagename from e_testpaper;
    </select>

    <select id="findAllSubject" resultType="String">
        select subjectName from e_subject;
    </select>

    <select id="findSubject" resultType="String">
        SELECT e_subject.subjectName FROM e_subject,e_testpaper
        WHERE
        e_subject.subjectId=e_testpaper.subjectId
        AND
        e_testpaper.stagename=#{stage};
    </select>

    <select id="findStage" resultType="String">
        SELECT e_testpaper.stagename from e_testpaper,e_subject
        WHERE
        e_testpaper.subjectId=e_subject.subjectId
        AND
        e_subject.subjectname=#{subject};
    </select>

    <select id="findAllUser" resultType="Integer">
        SELECT distinct COUNT(uid) FROM e_user_score,e_testpaper,e_subject
        WHERE
        e_user_score.tpId=e_testpaper.tpId
        AND
        e_subject.subjectId=e_testpaper.subjectId
        AND
        e_testpaper.stagename=#{stage}
        AND
        e_subject.subjectname=#{subject};
    </select>

    <select id="findAllScore" resultType="double">
        SELECT usScore FROM e_user_score,e_testpaper,e_subject
        WHERE
        e_user_score.tpId=e_testpaper.tpId
        AND
        e_testpaper.subjectId=e_subject.subjectId
        AND
        e_testpaper.stagename=#{stage}
        AND
        e_subject.subjectName=#{subject};
        </select>

</mapper>