<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.YnquestionsDao">



    <select id="findAllYnquestions" resultType="com.qfedu.examsys.pojo.EYnquestions">
        select * from e_ynquestions
    </select>

    <delete id="delYnquestions">
        DELETE from e_ynquestions where yqId=#{yqId}
    </delete>





</mapper>